/*
 * Copyright (c) 2020 Alexander Kozhinov <AlexanderKozhinov@yandex.com>
 * SPDX-License-Identifier: Apache-2.0
 */

 /dts-v1/;
 #include <st/h7/stm32h723Xg.dtsi>
 #include <st/h7/stm32h723zgtx-pinctrl.dtsi>
 #include <zephyr/dt-bindings/input/input-event-codes.h>

 /*
  * WARNING:
  * JP6 and SB72 must be ON when using Ethernet.
  */

 / {
	 model = "AESIR Surtr Launchpad Controller";
	 compatible = "aesir,surtr";

	 chosen {
		 zephyr,console = &usart6;
		 zephyr,dtcm = &dtcm;
		 zephyr,sram = &sram0;
		 zephyr,flash = &flash0;
	 };

	leds: leds {
		compatible = "gpio-leds";
		nled24_2: led_0 {
			gpios = <&gpiof 1 GPIO_ACTIVE_HIGH>;
			label = "User LD2, nLED24_2";
		};

		nled24_1: led_1 {
			gpios = <&gpiof 0 GPIO_ACTIVE_HIGH>;
			label = "User LD1, nLED24_1";
		};

		sw1: sw_1 {
			gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
			label = "Switch 1";
		};

		sw2: sw_2 {
			gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
			label = "Switch 2";
		};

		sw3: sw_3 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "Switch 3";
		};

		sw4: sw_4 {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "Switch 4";
		};

		sw5: sw_5 {
			gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
			label = "Switch 5";
		};

		sw6: sw_6 {
			gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;
			label = "Switch 6";
		};

		sw7: sw_7 {
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			label = "Switch 7";
		};

		sw8: sw_8 {
			gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;
			label = "Switch 8";
		};
	};

	stepctrls: stepper_controls {
		compatible = "gpio-leds";
		step1_dir: stepper1_direction {
			gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 1 Direction Pin";
		};
		step2_dir: stepper2_direction {
			gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 2 Direction Pin";
		};
		step3_dir: stepper3_direction {
			gpios = <&gpiod 4 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 3 Direction Pin";
		};
		step1_ctrl: stepper1_control {
			gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 1 Control Pin";
		};
		step2_ctrl: stepper2_control {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 2 Control Pin";
		};
		step3_ctrl: stepper3_control {
			gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 3 Control Pin";
		};
	};

	aliases {
		// led0 = &nled24_1;
		led0 = &nled24_2;
		// led0 = &sw1;
		// led1 = &nled24_2;
		led1 = &nled24_1;
		switch1 = &sw1;
		switch2 = &sw2;
		switch3 = &sw3;
		switch4 = &sw4;
		switch5 = &sw5;
		switch6 = &sw6;
		switch7 = &sw7;
		switch8 = &sw8;
		xadc1 = &ext_adc1;
		xadc2 = &ext_adc2;

		motor1 = &motor2;
		motor2 = &motor1;
		motor3 = &motor3;

		external-uart = &uart4;

		step1-ctrl = &step2_ctrl;
		step1-dir = &step2_dir;
		step2-ctrl = &step1_ctrl;
		step2-dir = &step1_dir;
		step3-ctrl = &step3_ctrl;
		step3-dir = &step3_dir;
	};
 };

 &clk_lsi {
	 status = "okay";
 };

 &clk_hsi {
	hsi-div = <1>;
	status = "okay";
};

 &clk_hsi48 {
	 status = "okay";
 };

 &clk_hse {
	//  hse-bypass;
	 clock-frequency = <DT_FREQ_M(50)>; /* onboard 50MHz clock */
	 status = "okay";
 };

 &pll {
	div-m = <4>;
	mul-n = <44>;
	div-p = <1>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
 };

 &rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(550)>;
	d1cpre = <1>;
	hpre = <2>;    /* HCLK: 275   MHz */
	d1ppre = <2>;  /* APB1: 137.5 MHz */
	d2ppre1 = <2>; /* APB2: 137.5 MHz */
	d2ppre2 = <2>; /* APB3: 137.5 MHz */
	d3ppre = <2>;  /* APB4: 137.5 MHz */
 };

 &usart6 {
	pinctrl-0 = <&usart6_tx_pg14>;
	pinctrl-names = "default";
	current-speed = <1000000>;
	fifo-enable;
	status = "okay";
 };

 &uart4 {
	pinctrl-0 = <&uart4_rx_pd0 &uart4_tx_pd1>;
	pinctrl-names = "default";
	current-speed = <115200>;
	fifo-enable;
	status = "okay";
 };

//  &rtc {
// 	 clocks = <&rcc STM32_CLOCK_BUS_APB4 0x00010000>,
// 		  <&rcc STM32_SRC_LSI RTC_SEL(2)>;
// 	 status = "disabled";
//  };

// spi1 is for the ADCs
// ADC1_CS on PE11, ADC2_CS on PE12
&spi1 {
    // compatible = "zephyr,spi-emul-controller";
    // compatible = "spi-device"
    status = "okay";
	pinctrl-0 = <&spi1_sck_pg11 &spi1_miso_pg9 &spi1_mosi_pd7>;
	pinctrl-names = "default";
    cs-gpios = <&gpioe 2 GPIO_ACTIVE_LOW>,
               <&gpioe 4 GPIO_ACTIVE_LOW>;
	clock-frequency = <10000000>;

    ext_adc1: ad4111@0 {
		compatible = "analog,ad4111";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };

    ext_adc2: ad4111@1 {
		compatible = "analog,ad4111";
        status = "okay";
        reg = <1>;
        spi-max-frequency = <1000000>;
    };
};

&spi3 {
	status = "okay";
	pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pc11 &spi3_mosi_pc12>;
	pinctrl-names = "default";
	cs-gpios = //<&gpiod 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
	 	<&gpiog 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
	 	<&gpiog 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
		<&gpiod 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	 clock-frequency = <10000000>;


	motor1: spi3@0 {
		status = "disabled";
		compatible = "ti,drv8711";
		spi-max-frequency = <1000000>;
		// dir-gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
		// step-gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;
		reg = <0>;
	};
	motor2: spi3@1 {
		status = "okay";
		compatible = "ti,drv8711";
		spi-max-frequency = <1000000>;
		// dir-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
		// step-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
		reg = <1>;
	};
	motor3: spi3@2 {
		status = "disabled";
		compatible = "ti,drv8711";
		spi-max-frequency = <1000000>;
		// dir-gpios = <&gpiod 4 GPIO_ACTIVE_HIGH>;
		// step-gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
		reg = <2>;
	};
};

//  &i2c1 {
// 	 pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
// 	 pinctrl-names = "default";
// 	 status = "disabled";
// 	 clock-frequency = <I2C_BITRATE_FAST>;
//  };

 &backup_sram {
	 status = "okay";
 };

 &timers12 {
	 st,prescaler = <10000>;
	 status = "okay";

	 pwm12: pwm {
		 status = "okay";
		 pinctrl-0 = <&tim12_ch1_pb14>;
		 pinctrl-names = "default";
	 };
 };

&pinctrl {
	rcc_mco_1_pa8_fast: rcc_mco_1_pa8_fast {
		pinmux = <STM32_PINMUX('A', 8, AF0)>;
		slew-rate = "very-high-speed";
	};
};

 &mac {
	// note that we add the MCO clock pin in this pinctrl-0
	status = "okay";
	pinctrl-0 = <&eth_ref_clk_pa1
	&eth_crs_dv_pa7
	&eth_rxd0_pc4
	&eth_rxd1_pc5
	&eth_tx_en_pb11
	&eth_txd0_pg13
	&eth_txd1_pg12
	&rcc_mco_1_pa8_fast
	>;
	pinctrl-names = "default";
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";

	phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0>;
		status = "okay";
	};
};

 &rng {
	 status = "okay";
 };