# SPDX-License-Identifier: Apache-2.0

# CONFIG_SOC_SERIES_STM32H7X=y
# CONFIG_SOC_STM32H723XX=y


# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
# CONFIG_SERIAL=y

# Console
CONFIG_LOG=y
CONFIG_LOG_BACKEND_UART=y
# CONFIG_LOG_BACKEND_SWO=y
# CONFIG_LOG_DEFAULT_LEVEL=4
# CONFIG_LOG_BACKEND_SWO_FREQ_HZ=16000000
# CONFIG_LOG_PRINTK=y
# CONFIG_LOG_MODE_IMMEDIATE=y
# CONFIG_LOG_PROCESS_THREAD=y
# CONFIG_LOG_IMMEDIATE=y
# CONFIG_UART_CONSOLE=n

# Enable MCO
CONFIG_CLOCK_STM32_MCO1_SRC_HSE=y
# CONFIG_CLOCK_STM32_MCO1_SRC_HSI=y
# CONFIG_CLOCK_STM32_MCO1_SRC_LSI=y
# CONFIG_CLOCK_STM32_MCO2_SRC_LSI=y
# CONFIG_CLOCK_STM32_MCO2_SRC_LSI=y


# CONFIG_CLOCK_STM32_MCO1_SRC_PLLQCLK=y

# Enable GPIO
CONFIG_GPIO=y

# Enable SPI
CONFIG_SPI=y

# Enable Clock
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_STM32_CUBE=y

# enable pin controller
CONFIG_PINCTRL=y

CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y
# CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y