/*
 * Copyright (c) 2020 Alexander Kozhinov <AlexanderKozhinov@yandex.com>
 * SPDX-License-Identifier: Apache-2.0
 */

 /dts-v1/;
 #include <st/h7/stm32h723Xg.dtsi>
 #include <st/h7/stm32h723zgtx-pinctrl.dtsi>
 #include <zephyr/dt-bindings/input/input-event-codes.h>

 /*
  * WARNING:
  * JP6 and SB72 must be ON when using Ethernet.
  */

 / {
	 model = "AESIR Surtr Launchpad Controller";
	 compatible = "aesir,surtr";

	 chosen {
		 zephyr,console = &usart3;
		 zephyr,shell-uart = &usart3;
		 zephyr,dtcm = &dtcm;
		 zephyr,sram = &sram0;
		 zephyr,flash = &flash0;
	 };

	leds: leds {
		compatible = "gpio-leds";
		nled24_2: led_0 {
			gpios = <&gpiof 1 GPIO_ACTIVE_HIGH>;
			label = "User LD2, nLED24_2";
		};

		nled24_1: led_1 {
			gpios = <&gpiof 0 GPIO_ACTIVE_HIGH>;
			label = "User LD1, nLED24_1";
		};

		sw1: sw_1 {
			gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;
			label = "Switch 1";
		};

		sw2: sw_2 {
			gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;
			label = "Switch 2";
		};

		sw3: sw_3 {
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			label = "Switch 3";
		};

		sw4: sw_4 {
			gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
			label = "Switch 4";
		};
	};

	stepctrls: stepper_controls {
		compatible = "gpio-leds";
		step1_dir: stepper1_direction {
			gpios = <&gpiod 2 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 1 Direction Pin";
		};

		step2_dir: stepper2_direction {
			gpios = <&gpiod 4 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 2 Direction Pin";
		};

		step3_dir: stepper3_direction {
			gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 3 Direction Pin";
		};

		step1_ctrl: stepper1_control {
			gpios = <&gpiod 1 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 1 Control Pin";
		};

		step2_ctrl: stepper2_control {
			gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 2 Control Pin";
		};

		step3_ctrl: stepper3_control {
			gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
			label = "Stepper Motor 3 Control Pin";
		};
	};

	aliases {
		led0 = &nled24_1;
		led1 = &nled24_2;
		switch1 = &sw1;
		switch2 = &sw2;
		switch3 = &sw3;
		switch4 = &sw4;
	};
 };

 &clk_lsi {
	 status = "okay";
 };

 &clk_hsi {
	hsi-div = <1>;
	status = "okay";
};

 &clk_hsi48 {
	 status = "okay";
 };

 &clk_hse {
	//  hse-bypass;
	 clock-frequency = <DT_FREQ_M(50)>; /* onboard 50MHz clock */
	 status = "okay";
 };

//  &clk_lse {
// 	 status = "disabled";
//  };

 &pll {
	 div-m = <32>;
	 mul-n = <275>;
	 div-p = <1>;
	 div-q = <11>;
	 div-r = <2>;
	 clocks = <&clk_hsi>;
	 status = "okay";
 };

//  &pll2 {
// 	div-m = <32>;
// 	mul-n = <275>;
// 	div-p = <4>;
// 	div-q = <4>;
// 	div-r = <2>;
// 	clocks = <&clk_hsi>;
// 	status = "okay";
// };

//  &pll3 {
// 	div-m = <32>;
// 	mul-n = <250>;
// 	div-p = <2>;
// 	div-q = <4>;
// 	div-r = <2>;
// 	clocks = <&clk_hsi>;
// 	status = "okay";
// };

 &rcc {
	 clocks = <&pll>;
	 clock-frequency = <DT_FREQ_M(550)>;
	 d1cpre = <1>;
	 hpre = <2>;    /* HCLK: 275   MHz */
	 d1ppre = <4>;  /* APB1: 137.5 MHz */
	 d2ppre1 = <4>; /* APB2: 137.5 MHz */
	 d2ppre2 = <4>; /* APB3: 137.5 MHz */
	 d3ppre = <2>;  /* APB4: 137.5 MHz */
 };

//  &usart3 {
// 	 pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
// 	 pinctrl-names = "default";
// 	 current-speed = <115200>;
// 	 status = "disabled";
//  };

//  &usart2 {
// 	 pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
// 	 pinctrl-names = "default";
// 	 current-speed = <115200>;
// 	 status = "disabled";
//  };

//  &rtc {
// 	 clocks = <&rcc STM32_CLOCK_BUS_APB4 0x00010000>,
// 		  <&rcc STM32_SRC_LSI RTC_SEL(2)>;
// 	 status = "disabled";
//  };

//  &spi1 {
// 	 status = "disabled";
// 	 pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pb5>;
// 	 pinctrl-names = "default";
// 	 cs-gpios = <&gpiod 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//  };

&spi3 {
	status = "okay";
	pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pc11 &spi3_mosi_pc12>;
	pinctrl-names = "default";
	cs-gpios = <&gpioe 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
	 <&gpioe 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
	 <&gpioe 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

//  &i2c1 {
// 	 pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
// 	 pinctrl-names = "default";
// 	 status = "disabled";
// 	 clock-frequency = <I2C_BITRATE_FAST>;
//  };

 &backup_sram {
	 status = "okay";
 };

 &timers12 {
	 st,prescaler = <10000>;
	 status = "okay";

	 pwm12: pwm {
		 status = "okay";
		 pinctrl-0 = <&tim12_ch1_pb14>;
		 pinctrl-names = "default";
	 };
 };

//  &mac {
// 	 status = "okay";
// 	 pinctrl-0 = <&eth_ref_clk_pa1
// 			  &eth_mdio_pa2
// 			  &eth_crs_dv_pa7
// 			  &eth_mdc_pc1
// 			  &eth_rxd0_pc4
// 			  &eth_rxd1_pc5
// 			  &eth_tx_en_pb11
// 			  &eth_txd0_pg13
// 			  &eth_txd1_pg12>;
// 	 pinctrl-names = "default";
//  };


 &mac {
	// note that we add the MCO clock pin in this pinctrl-0
	status = "okay";
	pinctrl-0 = <&eth_ref_clk_pa1
	&eth_crs_dv_pa7
	&eth_rxd0_pc4
	&eth_rxd1_pc5
	&eth_tx_en_pb11
	&eth_txd0_pg13
	&eth_txd1_pg12
	&rcc_mco_1_pa8
	>;
	pinctrl-names = "default";
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";

	phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0>;
		status = "okay";
	};
};

 &rng {
	 status = "okay";
 };
