gpio0: gpio@0 {
    compatible = "zephyr,gpio-emul";
    status = "okay";
    #gpio-cells = <2>;
    gpio-controller;
};

spi0: spi@0 {
    compatible = "zephyr,spi-emul-controller";
    status = "okay";
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>,
               <&gpio0 12 GPIO_ACTIVE_LOW>;

    ext_adc1: ad4111x1@0 {
        compatible = "analog,ad4111";
        reg = <0>;
        spi-max-frequency = <1000000>;
        cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    ext_adc2: ad4111x2@1 {
        compatible = "analog,ad4111";
        reg = <1>;
        spi-max-frequency = <1000000>;
        cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};