&gpio0 {
    status = "okay";
    #gpio-cells = <2>;
    gpio-controller;
};

&spi0 {
    compatible = "zephyr,spi-emul-controller";
    status = "okay";
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>,
               <&gpio0 12 GPIO_ACTIVE_LOW>;

    ext_adcx1: ad4111_1@0 {
        compatible = "analog,ad4111";
        label = "AD111_1";
        reg = <0>;
        zephyr,init-priority = <9>;
        spi = <&spi0>;
        cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <10000000>;
        channels = <4>;
        status = "okay";
    };

    ext_adcx2: ad4111_2@1 {
        compatible = "analog,ad4111";
        label = "AD111_2";
        reg = <1>;
        zephyr,init-priority = <10>;
        spi = <&spi0>;
        cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <10000000>;
        channels = <4>;
        status = "okay";
    };
};