/* 
 * This overlay file is used to allow for compiling using a virtual nucleo_u575zi_q board.
 * The nucleo_u575zi_q board has the same MCU as we are using for the Surtr project.
 *
 */
 &gpioe {
    status = "okay";

    spi1_sck_pg11: pinmux_spi1_sck_pg11 {
        pinmux = <STM32_PINMUX('G', 11, STM32_SPI1_SCK)>;
        bias-pull-up;
        drive-push-pull;
    };

    spi1_miso_pg9: pinmux_spi1_miso_pg9 {
        pinmux = <STM32_PINMUX('G', 9, STM32_SPI1_MISO)>;
        bias-pull-up;
        drive-push-pull;
    };

    spi1_mosi_pd7: pinmux_spi1_mosi_pd7 {
        pinmux = <STM32_PINMUX('D', 7, STM32_SPI1_MOSI)>;
        bias-pull-up;
        drive-push-pull;
    };
};

// spi1 is for the ADCs
// ADC1_CS on PE11, ADC2_CS on PE12
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pg11 &spi1_miso_pg9 &spi1_mosi_pd7>;
    pinctrl-names = "default";
    cs-gpios = <&gpioe 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
               <&gpioe 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    ext_adc1: ad4111_1@0 {
        compatible = "analog,ad4111";
        reg = <0>; // Refers to the CS line
        spi-max-frequency = <1000000>; // Verify with datasheet
        cs-gpios = <&gpioe 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        status = "okay";
    };

    ext_adc2: ad4111_2@1 {
        compatible = "analog,ad4111";
        reg = <1>; // Refers to the CS line
        spi-max-frequency = <1000000>; // Verify with datasheet
        cs-gpios = <&gpioe 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        status = "okay";
    };
};