/ {
    chosen {
        zephyr,console = &uart0;
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};

&spi1 {
    compatible = "zephyr,spi-emul";
    status = "okay";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
};

&mock_spi {
    compatible = "zephyr,spi-emul";
    status = "okay";
    label = "mock_spi";
};