/ {
    chosen {
        zephyr,console = &usart2;
    };
};

&usart2 {
    status = "okay";
    current-speed = <115200>;
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

    ext_adc1: ad4111_1@0 {
        compatible = "analog,ad4111";
        reg = <0>;
        spi-max-frequency = <1000000>;
        cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    ext_adc2: ad4111_2@1 {
        compatible = "analog,ad4111";
        reg = <1>;
        spi-max-frequency = <1000000>;
        cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};